<main>

    <div class="container py-3">

        <div class="row gy-3 flex-column-reverse flex-md-row align-items-center">

            <div class="col-md-9">

                <div class="input-group">
                    <span class="input-group-text rounded-start-4" id="basic-addon1">
                        <i class="fa-solid fa-magnifying-glass "></i>
                    </span>
                    <input [(ngModel)]="searchText" type="email" class="form-control rounded-end-4"
                        id="exampleFormControlInput1" placeholder="Search">
                </div>

            </div>

            <div class="col-md-3">
                <div class="inner rounded-3 bg-main-color d-flex gap-2 py-2 px-3 align-items-center justify-content-center">
                    <i class="fa-solid fa-user main-text"></i>
                    <h5 class="m-0 text-white">{{userName}}</h5>
                </div>
            </div>

        </div>
    </div>


    @if (todosCount !== 0) {
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12 card-color shadow-lg rounded-top-4 pt-4">

                <div class="d-flex justify-content-between border-white border-bottom mb-4 mt-2 pb-2">
                    <h3 class="text-white">My Todos</h3>
                    <button (click)="openInputModal()"
                        class="main-btn text-black border-0 fw-bold p-2 px-4 rounded-5"><i class="fa-solid fa-plus"></i>
                        Add NewTodo</button>
                </div>


                <div class="row">
                    <div class="col-md-8">
                        @if (todosCount !== 0) {
                        <h4 class="text-white">Current Todos: <span class="main-text">{{todosCount}}</span></h4>
                        }
                    </div>
                    <div class="col-md-4">
                        <div class="d-flex justify-content-md-end justify-content-start">
                            <h4 class="m-0 me-1 text-white">Filter per:</h4>
                            <select [(ngModel)]="filterOption" class="form-select form-select-sm w-50"
                                aria-label="Small select example">
                                <option value="newest">Newest</option>
                                <option value="oldest">Oldest</option>
                            </select>
                        </div>
                    </div>
                </div>

                @for (todo of allTodos| todoFilter:filterOption | todoSearch:searchText | paginate: { id: 'todos',
                itemsPerPage: 10,currentPage: page,totalItems: todosCount }; track todo._id) {
                <div class="row justify-content-center py-3">

                    <div class="col-10 rounded-5 bg-white my-1 mt-4 mt-md-0">
                        <div class="row">
                            <div class="col-md-2 p-3 text-center">
                                <h5 class="m-0">{{(page - 1) * 10 + ($index + 1)}}</h5>
                            </div>
                            <div class="col-md-4 p-3 text-center">
                                <h5 [ngClass]="{
                                        'text-decoration-line-through': todo.completed,
                                        'text-success': todo.completed,
                                        'text-black': !todo.completed
                                        }" class="m-0">{{todo.title}}
                                </h5>
                            </div>
                            <div class="col-md-2 p-3 text-center">
                                <h5 class="m-0">{{ todo.createdAt | date:'mediumDate' }}</h5>
                            </div>
                            <div class="col-md-2 p-3 text-center">
                                <i (click)="deleteTodo(todo._id)"
                                    class="fa-solid fa-trash cursor-pointer text-danger fs-5"></i>
                            </div>
                            <div class="col-md-2 p-3 d-flex justify-content-center">
                                @if(todo.completed === false){
                                <i (click)="markComplete(todo._id)"
                                    class="fa-regular fa-circle-check cursor-pointer fs-5"></i>
                                }
                                @else {
                                <i class="fa-solid fa-circle-check text-success fs-5"></i>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                }

                <div class="d-flex justify-content-center">
                    <pagination-controls (pageChange)="changepage($event)" id="todos"></pagination-controls>
                </div>

            </div>
        </div>
    </div>
    }
    @else {
    <div class="container py-4">
        <div class="row card-color shadow-lg rounded-4 pt-2">
            <div class="col-md-12 my-3 text-center py-5">
                <h4 class="text-white">You Have No <span class="main-text">Todos</span> Yet!</h4>


                <button (click)="openInputModal()" class="main-btn text-black border-0 fw-bold p-2 px-5 rounded-5"><i
                        class="fa-solid fa-plus"></i> Add New Todo</button>
            </div>
        </div>
    </div>
    }

</main>