/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import 'ngx-toastr/toastr';

* {
    font-family: "Roboto", sans-serif;
}

:root {
    --background-color: #333533;
    --text-color: #BAFB07;
    --button-color: #BAFB07;
    --card-color: #242325;
}

.ngx-pagination .current {
    padding: .1875rem .625rem;
    background: #333533 !important;
    color: #BAFB07 !important;
    cursor: default;
}

.ngx-pagination a, .ngx-pagination button {
    color: #BAFB07 !important;
    display: block;
    padding: .1875rem .625rem;
    border-radius: 0;
}

.ngx-pagination a:hover, .ngx-pagination button:hover {
    background: #333533 !important;
}

.card-color {
    background-color: var(--card-color);
}



.bg-main-color {
    background-color: var(--background-color);
}

.main-text {
    color: var(--text-color);
}

.main-btn {
    background-color: var(--button-color);
}

.cursor-pointer {
    cursor: pointer;
}


button {
    transition: 0.3s;
}

button:disabled {
    opacity: 0.5;
    transition: 0.3s;
    cursor: not-allowed;
}

button:focus {
    border: transparent;
}

.input-group-text {
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--button-color);
    text-align: center;
    white-space: nowrap;
    background-color: var(--background-color);
    border: var(--bs-border-width) solid var(--background-color);
    border-radius: var(--bs-border-radius);
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: transparent;
    outline: 0;
    box-shadow: 0 0 0 .25rem var(--background-color);
}